:root {
  --background-colour: #F3EDCF; //wheatfield
  --primary-colour: #4d3a7a; //purple
  --accent-colour: #26FF7D;
   //light green #D1FFBD;
   --accent-colour-dark: #00ed5f;
  --text-colour-dark: #111;
  --text-colour-light: #F3EDCF;
}

//more
//rgb(77, 58, 122); - purple in rgb format
//rgb(243, 237, 207); wheat in rgb